[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
redis = "*"
cassandra-driver = "*"
neo4j = "*"

[dev-packages]
build = "*"
ipykernel = "*"
pandas = "*"
polars = "*"

[requires]
python_version = "3.12"
