[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
redis = "*"
cassandra-driver = "*"
neo4j = "*"
elasticsearch = "*"
weaviate-client = "*"
sentence-transformers = "*"
requests = "*"
psycopg2 = "*"

[dev-packages]
build = "*"
ipykernel = "*"
pandas = "*"
polars = "*"

[requires]
python_version = "3.12"
